.DS_Store
.Rproj.user
.Rhistory
Makefile
*.dll
*.exe
*.log
*.lp
*.o
*.so
*.test
*.tmp
*.vscode

*.gcda
*.gcno
*.gcov
*.dSYM

include/armadillo*
tests/constrained/configure
tests/constrained/Makefile*
tests/misc/configure
tests/misc/Makefile*
tests/unconstrained/configure
tests/unconstrained/Makefile*
tests/zeros/configure
tests/zeros/Makefile*
